<div id="<%= dom_id trip %>">
  <p>
    <strong>Origin:</strong>
    <%= trip.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= trip.destination %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= trip.route %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trip.user_id %>
  </p>

</div>
