<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Hometown:</strong>
    <%= user.hometown %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= user.zipcode %>
  </p>

</div>
