<p style="color: green"><%= notice %></p>

<% if @user %>
<%= render @user %>
<% else %>
  <p style="color: red">User not found</p>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
